@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  h1{
    @apply text-4xl
  }
  h2{
    @apply text-3xl
  }
  h3{
    @apply text-2xl
  }
  p{
    @apply font-light
  }
}

#root,
body {
  font-family:"poppins";
  background:"#252A3C";
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
